{{ log this }}
{{#each posts as |post|}}

<a href="posts/{{post.id}}" class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"> {{ post.title }} </h5>
    <h6 class="card-subtitle mb-2 text-body-secondary"> {{ format_date post.created_at }} </h6>
    <p class="card-text"> {{ post.content }} </p>
  </div>
</a>

{{/each}}