{{!-- {{ log this }} --}}
<div class="m-2">
  <div class="container">
    <h1>{{title}} </h1>
    <p>Created by {{user.username}} on {{format_date created_at}} </p>
    <div class="d-flex">
      <p class="container-fluid"> {{content}} </p>
      <div class="container-fluid d-flex justify-content-end">
        <button type="button" class="btn" style="background-color: #fccd04;" >Add Comment</button>
      </div>
    </div>
  </div>

  <hr />

  <div class="container" style="text-indent: 4em;">
    {{#each comments as |comment|}}
    
      <h4>{{comment.content}} </h4>
      <div class="d-flex">
      <p class="container-fluid" style="text-indent: 5em;">-By:
        {{comment.user.username}}
        on
        {{comment.created_at}}
      </p>
      <div class="container-fluid d-flex justify-content-end">
        <button type="button" class="btn" style="background-color: #fccd04;">Add Reply</button>
      </div></div>

      <div style="text-indent: 8em;">
        {{#each comment.replies as |reply|}}
          <h5>{{reply.content}} </h5>
          <p style="text-indent: 9em;">-By:
            {{reply.user.username}}
            on
            {{reply.created_at}}
          </p>
        {{/each}}
      </div>

    {{/each}}
  </div>
</div>

